@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%; 
    background: linear-gradient(to bottom, #44a570, #b1fcd3);
}